.centered
{
    text-align: center;
}

.title
{
    font-size: 32px;
    color: red;
}

.border
{
    border: 10px solid #4169E1;
    padding: 20px;
    max-width: 500px;
}

.tbwidthi
{
    max-width: 600px;
}

.tbwidthp
{
    max-width: 1000px;
}

.sameline
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
